@charset "UTF-8";

/* Versão demais mídias */

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px (já tem, é o style.css, mobile-first)
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

-------------------------------
*/

@media screen and (min-width: 768px)  and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #9DD2D7, #392F76);
    }
    
    section {
        width: 80vw;
        font-size: 1.2em;
    }

    div {
        padding: 20px;
    }

    div#image {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center;
    }

    div#form {
        float: right;
        width: 60%;
    }

    .inputLogin {
        font-size: 0.8em;
    }

    .submit {
        font-size: 1.1em;
        width: 300px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #392F76,#9DD2D7);
    }

    section {
        width: 90vw;
        font-size: 1.2em;
    }

    div {
        padding: 20px;
    }

    div#image {
        float: right;
        width: 40%;
        height: 100%;
        background-position: center;
    }

    div#form {
        float: left;
        width: 55%;
    }

    .inputLogin {
        font-size: 0.9em;
    }

    .submit {
        font-size: 1.1em;
        width: 380px;
    }
}
