@charset "UTF-8";

/* Paleta de Cores:
    Lilás: #5f2c82
    Azul: #9DD2D7
    Roxo: #392F76 
*/

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #392F76;
}

main {
    position: relative;    
    height: 100vh;
}

section {
    height: 620px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

div#image {
    background: url(assets/lilas-pexels.jpg) no-repeat;
    background-size: cover;
    height: 250px;
}

div {
    padding: 5px;
    display: block;
}

div#form {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    padding: 5px;
    font-size: 1.1em;
}

.inputLogin {
    padding: 7px;
    /* background-color: #9DD2D7; */
    border-color: #392F76;
    border-radius: 5px;
    font-size: 0.6em;
}

.inputLogin:hover {
    background-color: aliceblue;
}

#iconUser {
    background-color: #382f769a;
    border-radius: 5px;
    padding: 4px;
    color: aliceblue;
}

.submit {
    color: #1a666c;
    background-color: aliceblue;
    width: 250px;
    padding: 10px;
    border-color: #9DD2D7;
    border-radius: 5px;
    font-size: 1em;
}

.submit:hover {
    background-color: #9DD2D7;
    cursor: pointer;
}
